<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shymko_hw_lesson11_231220_android2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shymko_HW_Lesson11_231220_Android2">

        <receiver
            android:name=".MyBroadcastButton"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="MyBroadcastButton" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".MyBroadcastInternet"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="MyBroadcastInternet"/>
            </intent-filter>
        </receiver>

        <activity android:name=".NotificationActivity"></activity>
        <activity android:name=".BroadcastActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>